* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  color: #303b37;

  /* font-family: Montserrat; */
  font-family: Lora;

  font-size: 15px;
  background-color: #c7bba2;
}

a:link {
  font-family: Montserrat;
  color: #30373f;
  text-decoration: none;
}

a:visited {
  color: #30373f;
}

a:hover {
  text-shadow: 2px 2px rgba(230, 166, 102, 0.4);
  /* text-decoration: underline dotted; */
}

a:active {
  font-style: italic;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 30px 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  /* width: 80vh; */
}

header {
  /* background  */

  height: 100vh;
  position: relative;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      10%,
      rgba(34, 34, 34, 0.05),
      20%,
      rgba(34, 34, 34, 0.05)
    ),
    url(img/bg-l.jpg);

  background-size: cover;
}

nav {
  /* font-size: 50px; */
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  width: 650px;
}

.menu-item {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #ebcbad;
  font-family: Playfair Display;
  font-family: Cormorant SC;
  /* font-family: Lora; */
  text-transform: uppercase;
  letter-spacing: -0.7px;
  margin-bottom: 40px;
  text-shadow: 2px 2px rgba(100, 100, 100, 0.6);
  /* padding: 20px 40px; */
}

h2 {
  font-weight: 100px;
  font-size: 25px;
  font-family: Nothing You Could Do;
  /* font-family: Lora; */
  color: rgb(251, 239, 218, 0.6);
  /* text-transform: uppercase; */
  font-weight: lighter;
  padding: 20px 0;
}

.hero-container {
  width: 1200px;
  /* width: 80vh; */
  /* In relation to ELEMENT size */
  transform: translate(0%, 30%);
}

.hero-container-inner {
  width: 400px;
}

.hero-btn:link,
.hero-btn:visited {
  background-color: #edc070;

  color: #30373f;
  font-size: 20px;
  padding: 10px 20px;

  display: inline-block;
  /* margin-left: 40px; */
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(230, 166, 102, 0.5);
}
.hero-btn:hover {
  background-color: #e6a666;
  /* background-color: #917369; */

  color: #fbefda;
  box-shadow: 0px 10px 15px 0px rgba(230, 166, 102, 0.5);
}

.hero-btn:active {
  background-color: #e6a666;
  /* background-color: #917369; */

  color: #fbefda;
  box-shadow: 0px 5px 10px 0px rgba(230, 166, 102, 0.5);
  font-style: normal;
}

.main-header {
  /* font-family: Copperplate; */

  text-align: center;
  padding: 0;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 10px;
}

nav a:link,
nav a:visited {
  font-size: 15px;
  color: #fbefda;
  flex: 1;
  /* display: inline-block; */
}

.story {
  font-size: 22px;
}

.footer p {
  font-size: 14px;
  color: #666;
  /* padding: 10px 0; */
}
