* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  /* font-size: 30%; */
}
body {
  color: #444;
  color: #303b37;

  /* font-family: Montserrat; */
  font-family: Lora;

  font-size: 1.5rem;
  background-color: #c7bba2;
}

a:link {
  font-family: Montserrat;
  color: #30373f;
  text-decoration: none;
}

a:visited {
  color: #30373f;
}

a:hover {
  text-shadow: 0.2rem, 0.2rem rgba(230, 166, 102, 0.4);
  /* text-decoration: underline dotted; */
}

a:active {
  font-style: italic;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 3rem 0;
}

.container {
  margin: 0 auto;
  max-width: 120rem;

  padding-left: 4rem;
  padding-right: 4rem;
  /* width: 80vh; */
}

.section-hero {
  /* background  */

  height: 100vh;
  position: relative;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      10%,
      rgba(34, 34, 34, 0.05),
      20%,
      rgba(34, 34, 34, 0.05)
    ),
    url(img/bg-l.jpg);

  background-size: cover;
}

.logo {
  width: 20rem;
  height: auto;
}
nav {
  /* font-size: 50px; */
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 3.2rem;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  gap: 7rem;
  flex-wrap: nowrap;
  max-width: 65rem;
}

.menu-item {
  text-align: center;
}

.subtext {
  font-weight: 10rem;
  font-size: 2.5rem;
  font-family: Nothing You Could Do;
  /* font-family: Lora; */
  color: rgb(251, 239, 218, 0.6);
  /* text-transform: uppercase; */
  font-weight: lighter;
  padding: 2rem 0;
}

.hero-container {
  max-width: 120rem;
  /* width: 80vh; */
  /* In relation to ELEMENT size */
  transform: translate(0%, 20%);
}

.hero-text-box {
  width: 40rem;
}

.header-main {
  font-size: 5rem;
  color: #ebcbad;
  font-family: Playfair Display;
  font-family: Cormorant SC;
  /* font-family: Lora; */
  text-transform: uppercase;
  letter-spacing: -0.07rem;
  margin-bottom: 4rem;
  text-shadow: 0.2rem 0.2rem rgba(100, 100, 100, 0.6);
  /* padding: 20px 40px; */
}

.hero-btn:link,
.hero-btn:visited {
  background-color: #edc070;

  color: #30373f;
  font-size: 2rem;
  padding: 1rem 2rem;

  display: inline-block;
  /* margin-left: 40px; */
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(230, 166, 102, 0.5);
}
.hero-btn:hover {
  background-color: #e6a666;
  /* background-color: #917369; */

  color: #fbefda;
  box-shadow: 0 1rem 1.5rem 0 rgba(230, 166, 102, 0.5);
}

.hero-btn:active {
  background-color: #e6a666;
  /* background-color: #917369; */

  color: #fbefda;
  box-shadow: 0 0.5rem 1rem 0 rgba(230, 166, 102, 0.5);
  font-style: normal;
}

nav a:link,
nav a:visited {
  font-size: 1.5rem;
  color: #fbefda;
  flex: 1;
  /* display: inline-block; */
}

.story {
  font-size: 2.2rem;
}

.footer p {
  font-size: 1.4rem;
  color: #666;
  /* padding: 10px 0; */
}
