/* DEFAULT CONTAINER SIZE: 1400px; */

/* PS. rem and em do NOT depend on html font-size in media queries! 
   Instead, 1rem = 1em = 16px */

/*

- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* BELOW 1600px (Normal Desktops) */
/**************************/

@media (max-width: 100em) {
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/*************************************************/
/* BELOW 1200px (Landscape Tablets, iPad Pro)    */
/*************************************************/

@media (max-width: 75em) {
  html {
    /* font-size: 9px; */
    font-size: 56.25%;
  }

  .logo {
    width: 15vw;
    height: auto;
    padding-top: 5vh;
  }

  /* Decrease nav padding */
  .main-nav {
    padding: 0 5vw;
  }

  .nav-list {
    gap: 4rem;
  }
}

/**********************************/
/* BELOW 944px (Tablets - iPad)   */
/**********************************/

@media (max-width: 59em) {
  html {
    /* font-size: 7px; */
    /* font-size: 43.75%; */
    /* font-size: 8px; */
    font-size: 50%;
  }

  .logo {
    width: 12vw;
    height: auto;
    padding-top: 5vh;
  }

  .main-heading {
    font-size: 4.4rem;
  }
  .hero-text-box {
    margin-top: 20vh;
  }

  .section-find-your-watch .container {
    max-width: 85vw;
  }

  /* Contact Form  */
  .section-sell-your-watch .container {
    display: block;
  }

  .sell-your-watch-left {
    padding: 10rem 10vw 3rem 10vw;
    width: 80vw auto;
    align-self: left;
  }

  .contact-form-container {
    grid-template-rows: 4fr 5fr;
    width: 100%;
  }

  .contact-form-text-box {
    padding: 10rem 20vw;
  }
  .contact-form-heading {
    font-size: 2.6rem;
  }
  .contact-form-subtext {
    font-size: 2.2rem;
  }

  .contact-form-tel:link,
  .contact-form-email:link {
    font-size: 2rem;
  }

  .contact-form label,
  .contact-form button {
    font-size: 2.1rem;
    /* font-weight: bold; */
  }

  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    font-size: 1.8rem;
  }

  .footer .container {
    max-width: 85%;
  }

  /* Navbar transform */
  .icon-contact {
    padding-right: 1rem;
    height: 3.8rem;
    width: 3.8rem;
    padding-top: 3rem;
  }

  /* Transform Nav Menu to Button */

  .main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 7.4rem;
    background-image: none;
  }

  .nav-list {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    flex-direction: column;
    justify-content: center;
    gap: 6.4rem;
    transition: all 0.5s ease-in;
    /* Hide navigation */
    /* display: none;  - allows NO animation */

    /* correct approach: hide it with opacity spec */
    opacity: 0;
    /* make it unaccessible to mouse and keyboard events */
    pointer-events: none;
    /* hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: inline-block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .nav-list a:link,
  .nav-list a:visited {
    font-size: 2.8rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .hero-container {
    max-width: 100%;
    padding: 0;
  }

  .logo-area {
    padding-left: 10vw;
  }

  .logo {
    width: 18vw;
    height: auto;
    padding-top: 5vh;
  }

  .subtext {
    font-size: 2.2rem;
  }

  .hero-text-box {
    margin-top: 30vh;
    padding: 3rem 10vw;
    background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      60%,
      rgba(34, 34, 34, 0)
    );
  }

  .main-heading {
    font-size: 4.2rem;
    font-weight: 600;
  }

  .story p {
    padding: 3vh 0;
  }

  /* Compress the poem format  */
  .link-to-the-past span {
    display: inline;
  }

  .items-of-interest {
    padding: 2.5rem 2rem 3rem 3rem;
  }

  .contact-form-container {
    grid-template-rows: 1fr 2fr;
    width: 100%;
  }

  .contact-form-text-box {
    padding: 6rem 15vw;
  }

  .nav-list {
    grid-template-columns: 1fr;
  }

  .footer .container {
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    column-gap: 3rem;
    row-gap: 10rem;
  }
}

/**************************/
/* BELOW 340px (Smaller Phones) */
/**************************/

@media (max-width: 22em) {
  .subtext {
    font-size: 1.6rem;
  }
}

/**************************/
/* SUPER WIDE SCREENS */
/**************************/

@media (min-aspect-ratio: 19/9) {
  .logo {
    width: 15vh;
  }
  .hero-text-box {
    margin-top: 5vh;
  }
  .main-heading {
    font-size: 6vh;
    letter-spacing: -0.2rem;
    margin-bottom: 4vh;
  }

  .section-hero {
    max-width: 100vw;
  }

  hero-btn:link {
    font-size: 4vh;
  }
  .nav-list {
    gap: 3.2rem;
  }
}

/**************************/
/* Fixing Safari flexbox gap */
/**************************/

.no-flexbox-gap .nav-list li:not(:last-child) {
  margin-right: 5rem;
}

.no-flexbox-gap .on-the-hunt:not(:last-child) {
  margin-right: 1rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 1rem;
}

/* Smaller Tabblet */
@media (max-width: 59em) {
  .no-flexbox-gap .nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6.4rem;
  }
}

/* Phones */
@media (max-width: 34em) {
  .no-flexbox-gap .nav-list li:not(:last-child) {
    margin-right: 5rem;
  }
}

/* Wide Screen */
@media (min-aspect-ratio: 19/9) {
  .no-flexbox-gap .nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}
