.section-hero {
  /* background  */
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      10%,
      rgba(34, 34, 34, 0.05),
      20%,
      rgba(161, 56, 56, 0.05)
    ),
    url(../img/bg-w.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sticky {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  height: 6.4rem;
  /* height: 4rem; */
  padding: 0 10vw;
  background-image: linear-gradient(
    rgba(34, 34, 34, 0.5),
    70%,
    rgba(34, 34, 34, 0)
  );
}

.nav-list {
  display: flex;
  gap: 6.4rem;
  text-align: center;
}

.nav-list li {
  list-style: none;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  color: #fbefda;
  height: 4.8rem;
  width: 4.8rem;
  padding-top: 3rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.logo {
  padding-top: 6.4rem;
  width: 15vh;
  height: auto;
}

.subtext {
  font-family: Nothing You Could Do;
  font-size: 2.4rem;
  color: rgba(251, 239, 218, 0.7);
  font-weight: lighter;
  padding: 1.6rem 0;
}

.hero-text-box {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-heading {
  font-family: Cormorant SC;
  /* font-family: Prata; */
  font-size: 4.6rem;

  color: #ebcbad;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);

  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 400;
  margin-bottom: 3rem;
}

.main-heading::first-letter {
  font-size: 5.2rem;
}

.hero-btn:link,
.hero-btn:visited {
  display: inline-block;

  font-size: 2rem;
  background-color: #edc070;
  color: #30373f;

  padding: 1.2rem 2.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(230, 166, 102, 0.5);

  transition: background-color 1s, color 1s, box-shadow 0.1s;
}

.hero-btn:hover {
  background-color: #e6a666;
  color: #fbefda;
  font-weight: normal;
  box-shadow: 0 1rem 1.5rem 0 rgba(230, 166, 102, 0.5);
}

.hero-btn:active {
  background-color: #e6a666;
  /* background-color: #917369; */

  color: #fbefda;
  box-shadow: 0 0.5rem 1rem 0 rgba(230, 166, 102, 0.5);
  font-style: normal;
  transition: background-color 1s, box-shadow 0s;
}

.section-sell-your-watch .container {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: 6rem;
}

.on-the-hunt {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
  font-family: Prata;
}

.on-the-hunt p::first-letter {
  font-size: 3.2rem;
}
.unicorn {
  width: 34rem;
  height: auto;
  margin-bottom: 3rem;
}

.unicorn path {
  fill: #303b37;
}
.target-intro {
  font-size: 2.4rem;
  letter-spacing: -0.02rem;
  margin-bottom: 0.5rem;
}
.watch-brand-list {
  margin-bottom: 2rem;
}

.watch-brand-list,
.watch-style-list {
  /* move bullets */
  margin-left: 2.4rem;
}

.watch-brand-list li,
.watch-style-list li {
  font-size: 2rem;
  letter-spacing: -0.02rem;
  padding: 1.2rem 0;
  list-style: none;
}
.watch-brand-list li::before,
.watch-style-list li::before {
  content: "\2022";
  display: inline-block;

  font-weight: bold; /* If you want it to be bold */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  color: #608688;
}

.watch-brand-list li::before {
  color: #cf955c;
}
