.section-hero {
  /* background  */
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      10%,
      rgba(34, 34, 34, 0.05),
      20%,
      rgba(161, 56, 56, 0.05)
    ),
    url(../img/bg.jpg);

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      10%,
      rgba(34, 34, 34, 0.05),
      20%,
      rgba(161, 56, 56, 0.05)
    ),
    url(../img/bg.webp);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  height: 6.4rem;
  padding: 0 10vw;
  background-image: linear-gradient(
    rgba(34, 34, 34, 0.5),
    70%,
    rgba(34, 34, 34, 0)
  );
}

.nav-list {
  display: flex;
  gap: 5rem;
  text-align: center;
}

.nav-list li {
  list-style: none;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.main-nav-contact {
  padding-left: 1.5rem;
}
.icon-contact {
  color: #fbefda;
  height: 1.6rem;
  width: 1.6rem;
  padding: 0 0.5rem;
  display: inline-block;
}

.icon-mobile-nav {
  color: #fbefda;
  height: 4.8rem;
  width: 4.8rem;
  padding-top: 3rem;
  margin-left: 1rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.logo {
  padding-top: 6.4rem;
  width: 16vh;
  height: auto;
}

.subtext {
  font-family: Nothing You Could Do;
  font-size: 2.4rem;
  color: rgba(251, 239, 218, 0.7);
  font-weight: lighter;
  padding: 1.6rem 0;
}

.hero-text-box {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-heading {
  font-family: Cormorant SC;
  /* font-family: Prata; */
  font-size: 4.4rem;

  color: #ebcbad;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);

  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 400;
  margin-bottom: 3rem;
}

.main-heading::first-letter {
  font-size: 5.4rem;
}

.hero-btn:link,
.hero-btn:visited {
  display: inline-block;

  font-size: 2rem;
  background-color: #edc070;
  color: #30373f;

  padding: 1.2rem 2.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(230, 166, 102, 0.5);

  transition: background-color 1s, color 1s, box-shadow 0.1s;
}

.hero-btn:hover {
  background-color: #e6a666;
  color: #fbefda;
  font-weight: normal;
  box-shadow: 0 1rem 1.5rem 0 rgba(230, 166, 102, 0.5);
}

.hero-btn:active {
  background-color: #e6a666;
  /* background-color: #917369; */

  color: #fbefda;
  box-shadow: 0 0.5rem 1rem 0 rgba(230, 166, 102, 0.5);
  font-style: normal;
  transition: background-color 1s, box-shadow 0s;
}

.section-find-your-watch .container {
  max-width: 50vw;
}

.section-sell-your-watch .container {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: 5rem;
}

.mission {
  margin: 4rem 0 3rem 0;
  color: #27494a;
  font-weight: 700;
}

.ll {
  display: inline-flex;
  flex-direction: column;
}

.ll::after {
  width: 125%;
  height: 1%;
  content: url(../img/stroke.svg);
  margin: -1.6rem 0 0 -2.8rem;
}

.mission p {
  padding: 0;
  line-height: 1.8;
  /* margin: 0; */
}

.mission p:last-child {
  font-size: 2.3rem;
}

.on-the-hunt {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.unicorn {
  width: 34rem;
  height: auto;
  margin-bottom: 3rem;
}

.unicorn path {
  fill: #303b37;
}

.items-of-interest {
  /* letter-spacing: -0.02rem; */
  margin: 4rem 0;
  border-radius: 2rem;
  padding: 3rem 3.5rem 5rem 4rem;

  background-color: #d0d1d0;
  box-shadow: 0 5px 15px 3px rgb(68, 68, 68, 0.2);
}

.items-of-interest h3 {
  text-align: center;
  margin: 2.8rem 0;

  font-family: Montserrat, sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: rgba(175, 113, 51, 0.8);
}

.watch-brand-list,
.watch-style-list {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.items-of-interest ul {
  padding-left: 1rem;
  width: 100%;
}

.grid-block li {
  list-style: none;

  background: #ccc;
  display: inline-block;
  padding: 0.8rem 1rem;
  margin: 0.5rem 0.3rem;
  border-radius: 0.6rem;
  box-shadow: 0px 3px 7px 0px rgb(68, 68, 68, 0.2);
  transition: background-color 0.4s ease-in, color 0.4s ease-in,
    box-shadow 0.4s ease-in;
}

.watch-brand-list li {
  background-color: #55695cd5;
  color: #e0ddd7;
}

.watch-style-list li {
  background-color: #c7bba2ef;
  color: #485a4f;
}
.grid-block li:hover {
  background: rgba(221, 221, 221, 0.8);
  color: #485a4f;
  box-shadow: 0px 5px 10px 0px rgb(68, 68, 68, 0.2);
}

.contact-form {
  text-align: center;
}
